[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "~=0.9.4"
argparse = "~=1.4.0"

[dev-packages]
pylint = "~=1.8.4"
pre-commit = "~=1.8.2"

[requires]
python_version = "3.6"
